.content-cards {
    /* background-color: green; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.card-statistics {
    width: 16rem;
    background-color: white;
    border: 2px solid black;
    /* min-height: 7rem; */
    border-radius: 1rem;
    box-shadow: -1px -2px 20px -2px rgba(0,0,0,0.37);
    -webkit-box-shadow: -1px -2px 20px -2px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px -2px 20px -2px rgba(0,0,0,0.37);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.card-statistics .label {
    font-size: 1.5rem;
}

.card-statistics h3 {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}

.card-statistics section {
    display: flex;
    justify-content: space-between;
}

.card-statistics button {
    cursor: pointer;
}

.sede-info span {
    font-weight: 700;
}

.sede-info_inner {
    display: flex;
    justify-content: space-between;
}

.sede-info_inner small {
    font-size: 1rem;
}

.type-info p {
    margin: 0;
}

.type-info div {
    display: flex;
    justify-content: space-between;
}

.type-info div small {
    font-size: 1rem;
}

.type-info div span {
    font-weight: 800;
}

.content-data {
    width: 100%;
    height: 16rem;
    display: flex;
    column-gap: 3.3%;
}

.content-data > div {
    border-radius: 1.5rem;
    border: 2px solid black;
    box-shadow: -1px -2px 20px -2px rgba(0,0,0,0.37);
    -webkit-box-shadow: -1px -2px 20px -2px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px -2px 20px -2px rgba(0,0,0,0.37);
    padding: 1rem;
}

.data-users {
    height: 100%;
    width: 100%;
}

.data-charts {
    width: 100%;
    height: 100%;
}